In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
credits = pd.read_csv("/Users/pratiksonune/Documents/prac/ML/MRS/tmdb_5000_credits.csv")
movies = pd.read_csv("/Users/pratiksonune/Documents/prac/ML/MRS/tmdb_5000_movies.csv")

In [3]:
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.shape

(4803, 20)

In [6]:
movies = movies.merge(credits, on="title")

In [7]:
movies.shape

(4809, 23)

In [8]:
credits.shape

(4803, 4)

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
list(movies.columns)

['budget',
 'genres',
 'homepage',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'movie_id',
 'cast',
 'crew']

In [11]:
movies = movies[['movie_id',
 'title',
 'overview',
 'genres',
 'keywords',
 'cast',
 'crew']]


movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [12]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.duplicated().sum()

np.int64(0)

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
movies['keywords'] = movies['keywords'].apply(convert)

In [20]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(convert3)

In [22]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [23]:
def fetch_dir(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'] = movies['crew'].apply(fetch_dir)

In [25]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [26]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [27]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [28]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [29]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [30]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
new_df = movies[['movie_id', 'title', 'tags']]

In [32]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [33]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/var/folders/8x/33rcnj0s6zn1gw5w8_qdh3gr0000gn/T/ipykernel_4273/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [34]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/var/folders/8x/33rcnj0s6zn1gw5w8_qdh3gr0000gn/T/ipykernel_4273/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [36]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [37]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [39]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [40]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [42]:
list(cv.get_feature_names_out())

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1950',
 '1950s',
 '1960s',
 '1970s',
 '1980',
 '1980s',
 '1985',
 '1990s',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2009',
 '20th',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '70s',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'adapted',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adolescent',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adrienbrody',
 'adult',
 'adultanimation',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agedifference',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aided',
 'aids',
 'ailing',
 'air',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alex',
 'alfredhitchcock',
 'ali',
 'alice',
 'alien',
 'alieninvasion',
 'alienlife',
 'aliens',
 'alike',
 'alive',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allow',
 'allowing',
 'allows',
 'ally',
 'alongside',
 'alpacino',
 'alpha',
 'alter',
 'alternate',
 'alternative',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfried',
 'amateur',
 'amazing',
 'ambassador',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americanfootball',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusementpark',
 'amy',
 'amyadams',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedy',
 'ancient',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'anna',
 'annafaris',
 'anne',
 'annehathaway',
 'annemoss',
 'annettebening',
 'annie',
 'anniversary',
 'annual',
 'answer',
 'answers',
 'ant',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyhopkins',
 'anthropomorphism',
 'anti',
 'antics',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'apparently',
 'appear',
 'appears',
 'apple',
 'appointed',
 'apprentice',
 'approach',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'armed',
 'arms',
 'army',
 'arnold',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'arthur',
 'artificialintelligence',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'athlete',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempting',
 'attempts',
 'attending',
 'attends',
 'attention',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'automobileracing',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'ax',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'backed',
 'background',
 'backgrounds',
 'bad',
 'badly',
 'bag',
 'bahamas',
 'bail',
 'balance',
 'ball',
 'ballet',
 'baltimore',
 'band',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barely',
 'bargained',
 'barn',
 'barney',
 'barry',
 'barrylevinson',
 'bars',
 'base',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becky',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'beloved',
 'ben',
 'benaffleck',
 'beneath',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstiller',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettemidler',
 'better',
 'betty',
 'beverly',
 'bible',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billhader',
 'billionaire',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrudup',
 'billycrystal',
 'biography',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blacksmith',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloodsplatter',
 'bloodthirsty',
 'bloody',
 'blow',
 'blue',
 'board',
 'boarding',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bobbyfarrelly',
 'bobhoskins',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'book',
 'books',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'botched',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'bourne',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'brendanfraser',
 'brendangleeson',
 'brent',
 'brettratner',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridge',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brooklyn',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryansinger',
 'buck',
 'buddies',
 'buddy',
 'buddycomedy',
 'budget',
 'build',
 'building',
 'built',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'bus',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butcher',
 'butler',
 'buy',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'capable',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'caraccident',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'carefree',
 'caretaker',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrace',
 'carrie',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelwes',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cateblanchett',
 'catherinedeneuve',
 'catherinekeener',
 'catherinezeta',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceremony',
 'certain',
 'chain',
 'chainsaw',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'chaotic',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chases',
 'chauffeur',
 'chazzpalminteri',
 'cheating',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choice',
 'choices',
 'choose',
 'chosen',
 'chowyun',
 'chris',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chrisklein',
 'chrispine',
 'chrisrock',
 'christ',
 'christian',
 'christianbale',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christine',
 'christmas',
 'christmasparty',
 'christopher',
 'christopherlloyd',
 'christophernolan',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarettesmoking',
 'cillianmurphy',
 'cindy',
 'cinema',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'cities',
 'citizens',
 'city',
 'civil',
 'civilian',
 'civilization',
 'civilwar',
 'claim',
 'claims',
 'claire',
 'clairedanes',
 'clan',
 'clark',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claudevandamme',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'clients',
 'climate',
 'climbing',
 'clinteastwood',
 'clique',
 'cliveowen',
 'clock',
 'clone',
 'cloning',
 'close',
 'closed',
 'closer',
 'club',
 'clubs',
 'clues',
 'clutches',
 'coach',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrell',
 'colinfirth',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collide',
 'collision',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'coma',
 'combat',
 'combined',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comfort',
 'comic',
 'comics',
 'coming',
 'comingofage',
 'comingout',
 'command',
 'commander',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'composer',
 'computer',
 'computervirus',
 'conan',
 'concert',
 'conclusion',
 'condition',
 'confederate',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confronts',
 'confused',
 'congress',
 'conman',
 'connected',
 'connection',
 'connell',
 'connor',
 'conquer',
 'conscience',
 'consequences',
 'conservative',
 'considered',
 'conspiracy',
 'conspire',
 'constant',
 'constantly',
 'construction',
 'consumed',
 'contact',
 'contain',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'continuing',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 'converge',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'core',
 'corner',
 'corners',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 'corruption',
 'cost',
 ...]

In [43]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [44]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [45]:
# ps.stem('loved')

In [46]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/8x/33rcnj0s6zn1gw5w8_qdh3gr0000gn/T/ipykernel_4273/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity = cosine_similarity(vectors)

In [49]:
similarity.shape

(4806, 4806)

In [53]:
sorted(similarity[0], reverse=True)

[np.float64(1.0),
 np.float64(0.26089696604360174),
 np.float64(0.2581988897471611),
 np.float64(0.25302403842552984),
 np.float64(0.25110592822973776),
 np.float64(0.24944382578492943),
 np.float64(0.2439750182371333),
 np.float64(0.243599382882345),
 np.float64(0.23904572186687872),
 np.float64(0.2344036154692477),
 np.float64(0.22677868380553634),
 np.float64(0.2238868314198225),
 np.float64(0.22230800575069137),
 np.float64(0.22190115272469205),
 np.float64(0.22131333406899523),
 np.float64(0.2193633988428327),
 np.float64(0.2173253797873328),
 np.float64(0.21653278478430668),
 np.float64(0.2164218276749025),
 np.float64(0.2162249910469341),
 np.float64(0.2162249910469341),
 np.float64(0.21602468994692864),
 np.float64(0.21602468994692864),
 np.float64(0.21251185925162067),
 np.float64(0.2114722130550724),
 np.float64(0.21147221305507238),
 np.float64(0.21096325392232296),
 np.float64(0.2059714602177749),
 np.float64(0.20291986247835692),
 np.float64(0.20283702113484398),
 np.float64(0.19920476822239894),
 np.float64(0.19889806323953876),
 np.float64(0.1980534816610477),
 np.float64(0.19518001458970666),
 np.float64(0.19518001458970666),
 np.float64(0.19451950503185494),
 np.float64(0.1938916835823703),
 np.float64(0.1932024558334913),
 np.float64(0.19317811536651805),
 np.float64(0.19166296949998196),
 np.float64(0.1901597073139162),
 np.float64(0.1893524273324603),
 np.float64(0.1889822365046136),
 np.float64(0.18832944617230335),
 np.float64(0.18832944617230335),
 np.float64(0.18708286933869706),
 np.float64(0.18478728707195913),
 np.float64(0.18478728707195913),
 np.float64(0.1831403087002079),
 np.float64(0.18257418583505536),
 np.float64(0.18257418583505533),
 np.float64(0.18018749253911176),
 np.float64(0.17928429140015903),
 np.float64(0.1765469659009499),
 np.float64(0.1763834207376394),
 np.float64(0.17622684421256032),
 np.float64(0.17445567519772937),
 np.float64(0.17251638983558856),
 np.float64(0.17251638983558856),
 np.float64(0.1717355162964367),
 np.float64(0.17142857142857143),
 np.float64(0.17142857142857143),
 np.float64(0.17036708399998393),
 np.float64(0.1690308509457033),
 np.float64(0.1690308509457033),
 np.float64(0.1690308509457033),
 np.float64(0.16903085094570328),
 np.float64(0.16903085094570328),
 np.float64(0.16574838603294897),
 np.float64(0.16574838603294897),
 np.float64(0.16408253082847338),
 np.float64(0.16265001215808886),
 np.float64(0.16265001215808886),
 np.float64(0.16239958858823),
 np.float64(0.16239958858823),
 np.float64(0.16035674514745463),
 np.float64(0.16035674514745463),
 np.float64(0.15971914124998496),
 np.float64(0.15694120514358612),
 np.float64(0.15694120514358612),
 np.float64(0.1564921592871903),
 np.float64(0.1553638665664663),
 np.float64(0.15430334996209188),
 np.float64(0.15289415743128765),
 np.float64(0.15289415743128765),
 np.float64(0.15289415743128765),
 np.float64(0.15179418517972906),
 np.float64(0.15179418517972906),
 np.float64(0.15179418517972906),
 np.float64(0.15118578920369088),
 np.float64(0.15118578920369088),
 np.float64(0.15026857675938213),
 np.float64(0.14953343588376802),
 np.float64(0.14754222271266348),
 np.float64(0.14754222271266348),
 np.float64(0.14754222271266348),
 np.float64(0.14638501094227999),
 np.float64(0.1456438162508838),
 np.float64(0.1449427589131121),
 np.float64(0.1449427589131121),
 np.float64(0.1449427589131121),
 np.float64(0.1449427589131121),
 np.float64(0.14414999403128942),
 np.float64(0.14414999403128942),
 np.float64(0.14414999403128942),
 np.float64(0.14414999403128942),
 np.float64(0.14414999403128942),
 np.float64(0.14285714285714285),
 np.float64(0.14201432049934523),
 np.float64(0.14098147537004826),
 np.float64(0.14085904245475275),
 np.float64(0.14085904245475275),
 np.float64(0.1406421692815486),
 np.float64(0.1406421692815486),
 np.float64(0.13930903806377162),
 np.float64(0.1389425035941821),
 np.float64(0.1389425035941821),
 np.float64(0.13801311186847084),
 np.float64(0.13801311186847084),
 np.float64(0.13801311186847084),
 np.float64(0.13801311186847084),
 np.float64(0.13801311186847082),
 np.float64(0.13710212427677043),
 np.float64(0.13710212427677043),
 np.float64(0.13710212427677043),
 np.float64(0.1366260102127946),
 np.float64(0.1366260102127946),
 np.float64(0.13552618543578768),
 np.float64(0.13533299049019168),
 np.float64(0.13533299049019168),
 np.float64(0.13533299049019168),
 np.float64(0.13522468075656266),
 np.float64(0.13522468075656266),
 np.float64(0.13522468075656266),
 np.float64(0.13522468075656266),
 np.float64(0.13433209885189348),
 np.float64(0.1336306209562122),
 np.float64(0.13259870882635919),
 np.float64(0.13259870882635919),
 np.float64(0.13259870882635919),
 np.float64(0.13259870882635919),
 np.float64(0.13259870882635919),
 np.float64(0.13199091933711365),
 np.float64(0.1309307341415954),
 np.float64(0.13041013273932528),
 np.float64(0.13041013273932528),
 np.float64(0.13041013273932525),
 np.float64(0.13041013273932525),
 np.float64(0.1301200097264711),
 np.float64(0.1301200097264711),
 np.float64(0.12888481555661674),
 np.float64(0.12777531299998796),
 np.float64(0.12777531299998796),
 np.float64(0.12777531299998796),
 np.float64(0.12777531299998796),
 np.float64(0.12741179785940637),
 np.float64(0.12741179785940637),
 np.float64(0.12741179785940637),
 np.float64(0.12598815766974242),
 np.float64(0.12555296411486888),
 np.float64(0.12555296411486888),
 np.float64(0.12555296411486888),
 np.float64(0.12555296411486888),
 np.float64(0.12555296411486888),
 np.float64(0.1246111965698067),
 np.float64(0.1246111965698067),
 np.float64(0.1246111965698067),
 np.float64(0.12344267996967351),
 np.float64(0.12344267996967351),
 np.float64(0.12344267996967351),
 np.float64(0.12327841818038447),
 np.float64(0.12327841818038447),
 np.float64(0.12327841818038446),
 np.float64(0.12298800925361816),
 np.float64(0.12298800925361816),
 np.float64(0.12298800925361815),
 np.float64(0.12298800925361815),
 np.float64(0.12198750911856666),
 np.float64(0.12198750911856665),
 np.float64(0.12143534814378325),
 np.float64(0.12073632210407378),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343935),
 np.float64(0.11952286093343935),
 np.float64(0.11952286093343935),
 np.float64(0.11952286093343935),
 np.float64(0.11952286093343935),
 np.float64(0.1183452670827877),
 np.float64(0.11834526708278768),
 np.float64(0.11769797726729994),
 np.float64(0.11769797726729994),
 np.float64(0.11769797726729994),
 np.float64(0.11769797726729994),
 np.float64(0.11710800875382396),
 np.float64(0.11633501014942217),
 np.float64(0.11633501014942217),
 np.float64(0.11633501014942217),
 np.float64(0.11633501014942217),
 np.float64(0.11633501014942217),
 np.float64(0.11633501014942217),
 np.float64(0.11609086505314302),
 np.float64(0.11595420713048966),
 np.float64(0.11595420713048966),
 np.float64(0.11595420713048966),
 np.float64(0.11595420713048966),
 np.float64(0.11595420713048966),
 np.float64(0.11501092655705902),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11428571428571427),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276816),
 np.float64(0.1129384878631564),
 np.float64(0.1129384878631564),
 np.float64(0.1129384878631564),
 np.float64(0.1129384878631564),
 np.float64(0.1129384878631564),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.11194341570991125),
 np.float64(0.11194341570991125),
 np.float64(0.11115400287534567),
 np.float64(0.11115400287534567),
 np.float64(0.11115400287534567),
 np.float64(0.11115400287534567),
 np.float64(0.11115400287534567),
 np.float64(0.11115400287534567),
 np.float64(0.1109741904046188),
 np.float64(0.1109741904046188),
 np.float64(0.11065666703449763),
 np.float64(0.11065666703449761),
 np.float64(0.11065666703449761),
 np.float64(0.11065666703449761),
 np.float64(0.11065666703449761),
 np.float64(0.11065666703449761),
 np.float64(0.10968169942141635),
 np.float64(0.10968169942141635),
 np.float64(0.10968169942141635),
 np.float64(0.10968169942141635),
 np.float64(0.10910894511799617),
 np.float64(0.10826639239215334),
 np.float64(0.10826639239215334),
 np.float64(0.10826639239215334),
 np.float64(0.10826639239215334),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10811249552346706),
 np.float64(0.10733469768527294),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496976),
 np.float64(0.10690449676496976),
 np.float64(0.10631548679075009),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.1057361065275362),
 np.float64(0.10559273546969093),
 np.float64(0.10559273546969093),
 np.float64(0.10559273546969093),
 np.float64(0.10559273546969093),
 np.float64(0.10559273546969093),
 np.float64(0.10460520656316098),
 np.float64(0.10432810619146021),
 np.float64(0.10432810619146021),
 np.float64(0.1043281061914602),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135314),
 np.float64(0.10350983390135313),
 np.float64(0.10350983390135313),
 np.float64(0.10350983390135313),
 np.float64(0.10350983390135313),
 np.float64(0.10350983390135313),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1031078524452934),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.1019294382875251),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10141851056742199),
 np.float64(0.10101525445522107),
 np.float64(0.10079052613579392),
 np.float64(0.10079052613579392),
 np.float64(0.09968895725584535),
 np.float64(0.09960238411119947),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.0994490316197694),
 np.float64(0.09944903161976938),
 np.float64(0.09944903161976938),
 np.float64(0.09944903161976938),
 np.float64(0.09862273454430757),
 np.float64(0.09862273454430757),
 np.float64(0.09862273454430757),
 np.float64(0.09759000729485333),
 np.float64(0.09759000729485333),
 np.float64(0.09759000729485333),
 np.float64(0.09759000729485331),
 np.float64(0.09759000729485331),
 np.float64(0.09759000729485331),
 np.float64(0.09759000729485331),
 np.float64(0.09658905768325902),
 np.float64(0.09658905768325902),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09569487529386908),
 np.float64(0.09561828874675149),
 np.float64(0.09508728264112047),
 np.float64(0.09467621366623016),
 np.float64(0.09467621366623016),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09416472308615166),
 np.float64(0.09390602830316849),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09376144618769908),
 np.float64(0.09276773134741387),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09258200997725513),
 np.float64(0.09200874124564722),
 np.float64(0.09200874124564722),
 np.float64(0.09200874124564722),
 np.float64(0.09200874124564722),
 np.float64(0.09200874124564722),
 np.float64(0.09200874124564722),
 np.float64(0.09116846116771037),
 np.float64(0.09116846116771037),
 np.float64(0.09116846116771037),
 np.float64(0.09116846116771037),
 np.float64(0.09116846116771035),
 np.float64(0.09116846116771035),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09107651110783743),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09035079029052512),
 np.float64(0.09009374626955588),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.08964214570007951),
 np.float64(0.089554732567929),
 np.float64(0.089554732567929),
 np.float64(0.08877935232369503),
 np.float64(0.08877935232369503),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047496),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.08827348295047495),
 np.float64(0.0880237696271323),
 np.float64(0.0880237696271323),
 np.float64(0.0880237696271323),
 np.float64(0.0880237696271323),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439694),
 np.float64(0.08728715609439693),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.086568731069961),
 np.float64(0.086568731069961),
 np.float64(0.086568731069961),
 np.float64(0.086568731069961),
 np.float64(0.08656873106996099),
 np.float64(0.08656873106996099),
 np.float64(0.08586775814821836),
 np.float64(0.08586775814821836),
 np.float64(0.0857142857142857),
 np.float64(0.0857142857142857),
 np.float64(0.0857142857142857),
 np.float64(0.0857142857142857),
 np.float64(0.0857142857142857),
 np.float64(0.08518354199999197),
 np.float64(0.08518354199999197),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08386278693775347),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08336550215650926),
 np.float64(0.08322503785764788),
 np.float64(0.08322503785764788),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08226127456606226),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.08199200616907877),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.081199794294115),
 np.float64(0.08095109602454656),
 np.float64(0.08024108542850393),
 np.float64(0.08021849185198157),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.07968190728895957),
 np.float64(0.0791945516022682),
 np.float64(0.0791945516022682),
 np.float64(0.0791945516022682),

In [ ]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [55]:
recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [59]:
import pickle

pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))